.list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.list header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.list header aside {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: bold;
}

.list header aside p {
  font-size: 0.875rem;
}

.createdTasks p{
  color: var(--blue);
}

.doneTasks p{
  color: var(--purple);
}

.list header aside span {
  color: var(--gray-200);
  background-color: var(--gray-400);
  border-radius: 16px;
  padding: 2px 8px;
  font-size: 0.75rem;
}

.list > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
